<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</head>
<body>
    <!-- navbar starts  -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-md navbar-dark bg-success p-5">
                    <a href="#" class="navbar-brand ">Flight and Travel system</a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                         <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav ">

                            <a href="/register" class="nav-item nav-link">Sign Up</a>
                            <a href="/login" class="nav-item nav-link">Login</a>
                            <a href="/book" class="nav-item nav-link">Book</a>
                            <a href="/passengers" class="nav-item nav-link">View passangers</a>
                            <a href="/hire" class="nav-item nav-link">Hire a Car</a>

                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- navbar ends -->

    <section class="row">
        <div class="col-md-6">
            <img src="../static/images/hertz22.jpeg" alt="" width="600px" height="300px">

        </div>
        <div class="col-md-6">
            <img src="../static/images/rangers.jpeg" alt=""width="600px" height="300px">

        </div>


    </section>




    <div class="col-12 bg-dark text-center p-5 fixed-bottom">
        <b class="text-white">Designed by Denzil</b><i class="text-white">All rights reserved @2022</i>
        <p class="text-white">Contact Us @0712345678 </p>

    </div>


    
</body>
</html>